<h4>Formulario <small> Reactivo </small></h4>
<hr>
<form autocomplete="off" [formGroup]="formulario" (ngSubmit)="enviar()">
<div class="form-group row">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label class="col-2 col-form-label">Nombre</mat-label>
    <input type="text" matInput formControlName="nombre" [errorStateMatcher]="matcher"
          placeholder="Ej: Sofia Belen">
    <mat-hint>Ingrese su nombre</mat-hint>
    <mat-error *ngIf="controlInput('nombre') && !inputRequerido('nombre')">
      Por favor ingrese un nombre válido
    </mat-error>
    <mat-error *ngIf="inputRequerido('nombre')">
      El nombre es <strong>obligatorio</strong>
    </mat-error>
  </mat-form-field>
</div>

<div class="form-group row">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input type="password" id="password" matInput formControlName="password" [errorStateMatcher]="matcher"
          placeholder="1 Mayúscula, 7 caracteres y 1 número" >
          <span toggle="#password-field" (click)="cambiar()" class="fa fa-eye field-icon toggle-password"></span>
    <mat-hint>Ingrese su contraseña</mat-hint>
    <mat-error *ngIf="controlInput('password') && !inputRequerido('password')">
      La contraseña no cumple con el formato establecido
    </mat-error>
    <mat-error *ngIf="inputRequerido('password')">
      La contraseña es <strong>obligatoria</strong>
    </mat-error>
  </mat-form-field>
</div>

<div class="form-group row">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="mail" [errorStateMatcher]="matcher"
          placeholder="ejemplo@correo.com">
    <mat-hint>Ingrese su correo</mat-hint>
    <mat-error *ngIf="controlInput('mail') && !inputRequerido('mail')">
      Por favor ingrese un correo válido
    </mat-error>
    <mat-error *ngIf="inputRequerido('mail')">
      El correo es <strong>obligatorio</strong>
    </mat-error>
  </mat-form-field>
</div>

<div class="form-group row">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Telefono</mat-label>
    <input type="text" matInput formControlName="phone" [errorStateMatcher]="matcher"
          placeholder="Ej: 123456789">
    <mat-hint>Ingrese un número de Telefono</mat-hint>
    <mat-error *ngIf="controlInput('phone') && !inputRequerido('phone')">
      Por favor ingrese un telefono válido
    </mat-error>
    <mat-error *ngIf="inputRequerido('phone')">
      El Telefono es <strong>obligatorio</strong>
    </mat-error>
  </mat-form-field>
</div>

<div class="form-group row">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Ciudad</mat-label>
    <input type="text" matInput formControlName="citycode" [errorStateMatcher]="matcher"
          placeholder="Ej: 9">
    <mat-hint>Ingrese su número de Codigo Ciudad</mat-hint>
    <mat-error *ngIf="controlInput('citycode') && !inputRequerido('citycode')">
      Por favor ingrese un codigo válido
    </mat-error>
    <mat-error *ngIf="inputRequerido('citycode')">
      El codigo es <strong>obligatorio</strong>
    </mat-error>
  </mat-form-field>
</div>

<div class="form-group row">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Pais</mat-label>
    <input type="text" matInput formControlName="countrycode" [errorStateMatcher]="matcher"
          placeholder="Ej: 56">
    <mat-hint>Ingrese el Codigo país</mat-hint>
    <mat-error *ngIf="controlInput('countrycode') && !inputRequerido('countrycode')">
      Por favor ingrese un codigo válido
    </mat-error>
    <mat-error *ngIf="inputRequerido('countrycode')">
      El codigo pais es <strong>obligatorio</strong>
    </mat-error>
  </mat-form-field>
</div>

<div class="form-group row">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>RUT</mat-label>
    <input type="rut" matInput formControlName="rut" [errorStateMatcher]="matcher"
          placeholder="Ej: 12345678-9">
    <mat-hint>Ingrese su rut incluyendo digito verificador</mat-hint>
    <mat-error *ngIf="controlInput('rut') && !inputRequerido('rut')">
      Por favor ingrese un rut válido
    </mat-error>
    <mat-error *ngIf="inputRequerido('rut')">
      El rut es <strong>obligatorio</strong>
    </mat-error>
  </mat-form-field>
</div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Continuar
      </button>
    </div>
  </div>
</form>
